@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(243, 242, 242);
}

@media (max-width: 1070px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background: rgb(244, 244, 102);
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
  }
  
  form span {
    padding: 0 1rem;
  }
  
  .header-input {
    width: 10rem;
    padding: 0.25rem;
    border-radius: 5px;
    outline: none;
  }
  
 .sm-screen {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* gap: 75vw; */
  padding: 0.5rem 0;
 }
 .large-screen {
  display: none;
 }

 .profile-left-container {
  width: 20%;
  display: none;
  margin: 0 2rem;
}

.profile-right-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 2px solid rgb(244, 229, 67); */
  padding: 2rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.profile-input {
  margin: 1rem 0;
  height: 2.5rem;
  width: 100vw;
  margin-right: 2rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
}
.product-banner-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.product-details-container {
  width: 100vw;
  background: white;
}

.product-carousel-container {
  width: 100vw;
  border-right:1px rgb(222, 222, 222) solid ;
  /* padding: 5rem; */
  background: white;
}
.product-carousel {
  width: 400px;
  padding: 1rem;
  /* margin: 0 5rem; */
  overflow: hidden;
}
.showPopup {
  background: rgba(244, 244, 102, 0.833);
  position: fixed;
  right: 0;
  z-index: 100;
  top: 300px;
  padding: 0.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgb(194, 194, 194);
  border-radius: 8px;
  cursor: pointer;
}
.showPopups{
  background: rgb(244, 244, 102);
  position: fixed;
  /* width: 100%; */
  bottom: 10px;
  z-index: 100;
  /* top: 300px; */
  left: 30%;
  padding: 0.5rem;
  gap: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 2px 2px 2px 2px rgb(194, 194, 194);
  border-radius: 32px;
  cursor: pointer;
}

.cart-details-container {
  background: white;
  padding: 0.5rem;
  display: flex;
  width: 90vw;
  justify-content: space-between;
  border-top: 1px solid rgb(227, 226, 226) ;
  cursor: pointer;
  align-items: center;
}

.checkout-button-container.ant-btn {
  background: rgb(244, 244, 102);
  height: 3rem;
  padding: 8px;
  width:95vw;
  }
  .bottom-popup {
    height: 50rem;
  }
}

@media (max-width: 1310px ) {
  .item-selector-containers {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  
  }
  .item-selectors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-top: 6rem;
  }

  .banner-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
    
  .item-selector-buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 430px;
    height: 120px;
    padding: 1rem;
    background: #d7d6d6;
    gap: 0.5rem;
    margin: 4px;
    
  }
  .item-selector-container {
    /* width: 23%;
    height: 90%; */
    display: none;
  }

}

@media (min-width : 1070px) {
  .header-container {
    
    background: rgb(244, 244, 102);
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    opacity: 1;
  }
  
  
  .sm-screen {
   display: none;
   }
   .large-screen {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 1rem;
   }
  
  .header-input {
    width: 50vw;
    flex-grow: 1; 
    padding: 1rem;
    border-radius: 10px;
    outline: none;
  }

 
  .main-container {
    display: flex;
  /* padding: 1rem; */
  margin-top: 6rem;
  }

  .profile-left-container {
    width: 20%;
    margin: 0 2rem;
  }

  .profile-right-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 2px solid rgb(244, 229, 67);
    padding: 2rem;
  }

  .profile-form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .profile-input {
  margin: 1rem 0;
  height: 2.5rem;
  width: 25vw;
  margin-right: 2rem;
  flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 1;
}
.product-banner-container {
  display: flex;
  width: 100%;
}

.product-details-container {
  width: 50%;
  background: white;
}

.product-carousel-container {
  width: 50%;
  border-right:1px rgb(222, 222, 222) solid ;
  padding: 5rem;
  background: white;
}
.product-carousel {
  width: 400px;
  padding: 1rem;
  margin: 0 5rem;
  overflow: hidden;
}
.showPopup {
  background: rgba(244, 244, 102, 0.833);
  position: fixed;
  right: 0;
  z-index: 100;
  top: 300px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgb(194, 194, 194);
  border-radius: 8px;
  cursor: pointer;
}
.cart-details-container {
  background: white;
  padding: 0.5rem;
  display: flex;
  /* justify-content: center; */
  /* gap: rem; */
  /* width: 100%; */
  gap: 12rem;
  justify-content: space-between;
  border-top: 1px solid rgb(227, 226, 226) ;
  cursor: pointer;
  align-items: center;
}
.checkout-button-container.ant-btn {
  background: rgb(244, 244, 102);
  height: 3rem;
  padding: 8px;
  }
}


@media (min-width: 1310px) {
  .item-selector-containers {
    width: 25%;
    height: 90%;
    display: none;
  }
  .item-selector-container {
    width: 25%;
    height: 90%;
    display: flex;
    position:-webkit-sticky; 
    position:sticky; top:6rem;
  }

  .banner-items-container {
    display: flex;
    flex-direction: column;
    width: 78%;
  }
 

}
.header-name {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: -2px;
  min-width: max-content;
}

.header-form {
  display: flex;
  flex-shrink: 1;
  margin: 0;
  background: white;
  align-items: center;
  border-radius: 0.5rem;
}

form span {
  padding: 0 1rem;
}


.nav-items {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.nav-items button {
  font-size: 1.2vw;
  font-weight: bold;
}

.nav-items button:hover {
  color:white;
  cursor: pointer;
}

.profile-image {
  border: 2px solid rgba(244, 244, 102, 0.833);
  border-radius: 1rem;
}

.profile {
  display: flex;
  justify-content: center;

}


.profile-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
  background: white;
  box-shadow: 5px 10px 5px 5px rgb(229, 229, 229);
}


.profile-right-container h2 {
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
}

.profile-form-div {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.log-out-profile {
  background-color: rgba(243,244,246, 0.5);
  padding: 2rem ;
}

.drop-down-item {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  padding: 0.3rem 1rem;
}


.item-selector  {
  display: flex;
  flex-direction: row;
  max-height: min-content;
  gap: 4px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;

}


.item-selector-button {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  width: 150px;
  height: 120px;
  padding: 1rem;
  background: #fff;
  gap: 0.5rem;
  margin:2px;
  
}

.products-container {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  
}

.products-details-container:hover {
  box-shadow: 5px 5px 5px 2px rgb(194, 194, 194);
  margin-bottom: 0.5rem;
}

.products-details-container {
  background: white;
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 1rem;
  flex-grow: 1;
  cursor: pointer; 
  justify-content: center;
}

.products-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 200px;
  justify-content: center;
}

.products-details h3 {
  width: 10rem;
  font-size: 1.2rem;
  
}

.products-details strong {
  font-size: 1.5rem;
}


.cartButtonContainer {
  position: relative;
}



.showPopup button {
display: flex;
align-items: center;
justify-content: center;

}

.cart-icon {
  font-size: 2rem;
  color: white;
}

.showPopup h2 {
  font-size: 1rem;
}

.cart-total {
font-size: 1.2rem;
  background: white;
  border-radius: 6px;
  font-weight: bold;
  padding: 1px 0.7rem;
}

.item-image {
  max-height: 200px;
}
.inc-and-dec-container {
  display: flex;
  background: rgb(237, 237, 237);
  margin:  1rem;
  /* padding: 0.7rem; */
  border-radius: 5px;
}

.inc-and-dec-container:hover {
  
}
.products-details span:hover {
  background: rgba(244, 244, 102, 0.833);
}

.add-to-cart { 
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

.inc-and-dec {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  align-items: center;
}

.cart-inc-and-dec-container {
  display: flex;
  flex-direction: column;
  background: rgb(237, 237, 237);
  margin:  0.5rem;
  padding: 0.3rem;
  border-radius: 16px;
}

.cart-inc-and-dec-container:hover {
  background: rgba(244, 244, 102, 0.833); 
  color: white;
}

.cart-inc-and-dec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  border-radius: 1rem;
}

.cart-item-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .cart-item-details {
  display: flex;

} */

.cart-image {
  height: 80px;
  width: 80px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-details h3 {
  /* width: 10rem; */
  font-size: 1.2rem;
  /* padding-right: 8rem; */
}

.cart-details strong {
  font-size: 1rem;
  color: rgba(244, 244, 102, 0.833) ;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 150px;
  flex-direction: column;
  gap: 1rem;
}

.item-amount {
font-size: 1.2rem;
 margin: 0;
 width: 100%;
}

.checkout {
  padding-right: 11rem;
  font-size: 1.5rem;
}


.cart-total {
  font-size: 1.5rem;
  border-radius: 50px;
  margin-bottom: 5px; 
}

.product-container {
  margin-top: 6rem;
  padding: 0;
}



.product-image {
 margin: 0 auto; 
}

.product-details {
  padding: 2rem;
}

.product-details h1{
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}

.product-details h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.product-details p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  width: 80%;
}

.pro {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-grow: 2;
  margin: 0 3rem;
  /* justify-content: center; */
}

.products-changed-details-container {
  background: white;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  border-radius: 10px;
  cursor: pointer; 
  margin: 1rem;
}

.help-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem auto;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
}
/* 
.help-containers {
  margin-top: 5rem;
} */
/* 
.help {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  padding: 1.5rem;
  width: 60rem;
 justify-content: start;
 font-size: 1.5rem;
  font-weight: bold;
}

.help-second-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1rem;
  font-size: 1.3rem;
  gap: 2rem;
    width: 80rem;
  border-radius: 8px;
}

.quest {
  display: flex;
  align-items: center;
  width: 78rem;
}


.question {
  color: rgb(247, 191, 88);
  
} */

.faq {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.checkout-container {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  gap: 5rem;
  
}

.checkout-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
  border-radius: 8px;
  padding: 3rem;
  width: 40%;
}

.delivery-address {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: #eae8e8 2px solid;
  box-shadow: 2px 2px 2px #eae8e8;
  padding: 3rem;
}

.delivery-address button {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.checkout-item-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.checkout-item {
  display: flex;
  gap: 0.5rem;
}

.delivery-text {
   border: 2px solid black;
   width: 20rem;
   height: 10rem;
}
.add {
  color: rgba(244, 244, 102, 0.833);
}
.addresses {
  display: flex;
  flex-direction: row;
  background: rgb(216, 216, 216);
  width: max-content;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0.5rem 0;
}


.logIn {
  color: rgba(244, 244, 102, 0.833);
  padding: 1rem;
}
.loggedIn{
  color: #000;
  padding: 1rem;
}
.signUp{
  border: rgba(244, 244, 102, 0.833) solid;
  padding: 0.1rem 0.2rem;
  color: rgba(244, 244, 102, 0.833);
  border-radius: 5px;
  padding: 0.3rem 1rem;

}

.signedUp{ 
  display: none;
  padding: 0.3rem 1rem;
}

.registerContainer {
  /* padding: 1rem 2rem; */
  width: 500px;
  height: max-content;
  
}
.registerDetails {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(244, 244, 102, 0.833);
  color: #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 1rem 0;
  margin: 0 auto;
  width: 60%;
}

.register {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.register input {
  /* margin: 1rem; */
  border-radius: 8px;
  border: rgba(244, 244, 102, 0.833)2px solid;
}
.registerButton {
  background: rgba(244, 244, 102, 0.833);
  color: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  border: rgba(244, 244, 102, 0.833)  2px solid;
  box-shadow: 5px 5px 5px 2px #c6b5be
}
.registerButton:hover {
  background: white;
  color: rgba(244, 244, 102, 0.833);
}
.closeModal {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  background: rgba(244, 244, 102, 0.833);
  color: #fff;
  border: rgba(244, 244, 102, 0.833)  2px solid;
  border-radius: 50%;
  padding: 1px 6px;
  top:0.5rem;
  right:1rem;
  box-shadow: 2px 2px 2px 2px #c6b5be
}
.closeModal:hover {
  border: rgba(244, 244, 102, 0.833)  2px solid;
  background: #fff;
  color: rgba(244, 244, 102, 0.833);
}

.create button{
  color: rgba(244, 244, 102, 0.833);
}
.instead {
  padding: 1rem 8rem;
  display: flex;
  gap: 4px;
  margin: auto;
}

.logout {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  flex-direction: column;
}

.logout div {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem ;
}
.logoutContainer {
  border: rgba(244, 244, 102, 0.833) 0.5px solid;
  border-radius: 50%;
  padding: 3px;
}
.black {
  color: rgba(244, 244, 102, 0.833);
}

.delivery-address-form {
  display: flex;
  flex-direction: column;
}

.checkout-input-container {
  display: flex;
  margin-right: 9rem;
  gap: 2rem;
 justify-content: flex-start;
}
.checkout-inputs-container {
  display: flex;
  margin-right: 6rem;
  gap: 2rem;
 justify-content: flex-start;
}

.checkout-input{ 
  max-width: 1.5rem;
  
}

.text-area {
  width: 20rem;
  border: 2px solid gray;
}

.save-address {
  background: rgba(244, 244, 102, 0.833);
  border-radius: 4px;
  padding: 6px;
  width: 20rem;
}

.schedule-labels{
  display: flex;
  flex-direction: column;
  background: rgb(240, 240, 240);
  
  border-radius: 10px;
  width: 9rem;
  height: 6rem;
  padding: 4px;
  margin: 8px 0;
}

.schedule-label {
  display: flex;
  flex-direction: column;
  background: white;
  border: rgba(244, 244, 102, 0.833)solid 2px;
  border-radius: 10px;
  width: 9rem;
  height: 6rem;
  padding: 4px;
  margin: 8px 0;
}